h2{

    margin-left: 35%;
    margin-top: 1% !important;
    padding: 3px;
}
.card{
    width: 30%;
    margin: 0 auto;
    padding: 42px;
    /* margin-left: 35%; */
    margin-bottom: 20px;
}

@media (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
     h2{

        margin-left: 3% !important;
        margin-top: 3% !important;
        padding: 3px;
        font-size: 20px!important;
    }

    .card{
        width: 84%;
        margin: 0px 25px
    } 
    


}
@media (min-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

    h2{

        margin-left: 22% !important;
        margin-top: 3% !important;
        padding: 3px;
        font-size: 20px!important;
    }

    .card{
        width: 56%;
        margin: 0px 21%;
    }

}
@media (min-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 

}
@media (min-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 

}
@media (min-width:1281px) {
     /* hi-res laptops and desktops */ 

     h2{

        margin-left: 35% !important;
        margin-top: 1% !important;
        padding: 3px;
    }

     .card{
        width: 30%;
        margin: 0 auto;
        padding: 42px;
        /* margin-left: 35%; */
        margin-bottom: 20px;
    }
    
    }